<html lang="en" class="text-gray-900 antialiased leading-tight">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    {% feed_meta %}
    {% seo %}
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <link rel="stylesheet" href="/css/site.css">
  </head>
  <body class="leading-relaxed tracking-wide flex flex-col">
    {% include navigation.html %}

    <section class="container w-full min-h-3/4 lg:max-w-7xl mx-auto">
    {{ content }}
    </section>

    {% include footer.html %}

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  </body>
</html>
